.u-section-1 .u-sheet-1 {
  min-height: 1481px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 88px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 207px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 298px auto 0;
}

.u-section-1 .u-list-1 {
  width: 910px;
  margin: 15px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 82px;
  grid-gap: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/Screenshot2025-01-04at6.31.31PM.png");
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  --radius: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/Screenshot2025-01-03at3.26.52PM.png");
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  --radius: 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/Screenshot2025-01-03at3.27.53PM.png");
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  --radius: 20px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  background-image: url("images/Screenshot2025-01-03at3.25.46PM.png");
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  --radius: 20px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  background-image: url("images/Screenshot2025-01-03at3.27.34PM.png");
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  --radius: 20px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  background-image: url("images/Screenshot2025-01-03at3.27.02PM.png");
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  --radius: 20px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666664px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666664px));
    min-height: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 4.999998px);
    grid-template-columns: repeat(2, calc(50% - 4.999998px));
    min-height: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}